<section class="u-clearfix u-section-7" id="carousel_0bda">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
    <div class="u-layout-row">
    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h1 class="u-text u-text-1">Accomplishments, Clubs & Aspirations</h1>
        <ul class="u-custom-list u-text u-text-2">
          <li>
            <div class="u-list-icon u-text-palette-2-base">
              <svg class="u-svg-content" viewBox="0 0 409.6 409.6" x="0px" y="0px" id="svg-c574"><g><g><path d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467    c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z"></path>
    </g>
    </g></svg>
             

            </div> Member at Google Student developer club
          </li>
          <li>
            <div class="u-list-icon u-text-palette-2-base">
              <svg class="u-svg-content" viewBox="0 0 409.6 409.6" x="0px" y="0px" id="svg-c574"><g><g><path d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467    c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z"></path>
    </g>
    </g></svg>
            </div>Member at IEEE CS Chapter 
          </li>
          <li>
            <div class="u-list-icon u-text-palette-2-base">
              <svg class="u-svg-content" viewBox="0 0 409.6 409.6" x="0px" y="0px" id="svg-c574"><g><g><path d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467    c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z"></path>
    </g>
    </g></svg>
            </div> Member at ACM - INSAT
          </li>
          <li>
            <div class="u-list-icon u-text-palette-2-base">
              <svg class="u-svg-content" viewBox="0 0 409.6 409.6" x="0px" y="0px" id="svg-c574"><g><g><path d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467    c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z"></path>
    </g>
    </g></svg>
            </div> Basketball Player at INSAT Uni Basketball Team 
          </li>
        </ul>
        <div class="u-palette-2-base u-shape u-shape-circle u-shape-1"></div>
      </div>
    </div>
    <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
      <div class="u-container-layout u-valign-middle u-container-layout-2">
        <a id="image1" class="u-image u-image-contain u-image-1" data-image-width="763" data-image-height="3000"></a>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
