<section class="u-align-left u-clearfix u-palette-1-base u-section-8" id="carousel_3337">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <img class="u-image u-image-default u-image-1" src="images/c26c025a-04ff-878a-e5bf-079beb720c94.jpg" alt="" data-image-width="1000" data-image-height="1000">
    <div class="u-align-left u-container-style u-group u-white u-group-1">
    <div class="u-container-layout u-valign-middle u-container-layout-1">
    <div class="u-palette-2-base u-shape u-shape-circle u-shape-1"></div>
    <h1 class="u-text u-text-1"> Contact me</h1>
    <h4 class="u-text u-text-2">For business inquiries</h4>
    </div>
    </div>
    <div class="u-align-left u-container-style u-group u-palette-2-base u-group-2">
    <div class="u-container-layout u-valign-middle u-container-layout-2">
    <h3 class="u-text u-text-4">call me</h3>
    <p class="u-text u-text-5">+216 26 211 344<br>
    </p>
    <h3 class="u-text u-text-6">location</h3>
    <p class="u-text u-text-7">Tunis, Tunisia.<br>
    </p>
    <div class="u-social-icons u-spacing-10 u-social-icons-1">
    </div>
    </div>
    </div><div class="footer-social-icons">
        <h4 class="_14">Social Media Links</h4>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/houssem.saafy" target=”_blank”  class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/houssem-saafi" target=”_blank”  class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/HoussemSaafi" target=”_blank”  class="social-icon"> <i class="fa fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/houssemsaafy/" target=”_blank” class="social-icon"> <i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/houssemsaafi11" target=”_blank” class="social-icon"> <i class="fa fa-twitter"></i></a></li>
          
            
        </ul></div>
    
    </div>
</section>
