h3{
    color:#259bca;
}
p{
    color: darkgray;
}

#image1{
    background-image: url("../images/dff.jpg");
}

#image2{
    background-image: url("../images/purple-creative-flyer-template_1051-1729.jpg");
}

#image3{
    background-image: url("../images/pink-neon-night-business-sign_23-2148874638.jpg");
}