<section class="u-align-center u-clearfix u-palette-1-base u-section-4" id="sec-c080">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-custom-font u-text u-text-1">Education & Experiences</h2>
    <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-grid u-list u-list-1">
    <div class="u-repeater u-repeater-1">
    <div class="u-container-style u-list-item u-radius-25 u-repeater-item u-shape-round u-white u-list-item-1">
    <div class="u-container-layout u-similar-container u-container-layout-1">
        <h5>High School Studies:</h5>
        <h4>Pioneer High School of Bizerte</h4>
        <p class="u-text u-text-2">It is one of the most prestigious merit-based schools in Tunisia, known for its high quality education and its highly competitive environment, students join the school based on their rank in the 9th national grade exam. the school maintains a success rate of 100% at the Baccalaureate national exam.</p>
      <div id="image1" class="u-border-6 u-border-palette-1-light-2 u-image u-image-circle u-image-1" data-image-width="211" data-image-height="211"></div>
      <h5 class="u-text u-text-3">Lycée Pilote 15 Octobre</h5>
      <h5 class="u-custom-font u-text u-text-font u-text-4">Bizerte, Tunisia - 2014/2019</h5>
    </div>
    </div>
    <div class="u-container-style u-list-item u-radius-25 u-repeater-item u-shape-round u-white u-list-item-2">
    <div class="u-container-layout u-similar-container u-container-layout-2">
        <h5>Collegial Studies:</h5>
        <h4>National Institute of Applied Sciences & Technology</h4>
        <p class="u-text u-text-2">The National Institute of Applied Sciences and Technology (INSAT) is a Tunisian institute that is affiliated with the University of Carthage. INSAT is ranked among the top engineering schools in Tunisia and the region. Admission is very competitive and generally students must hold a very good GPA on the national exam to be admitted. It provides a post-baccalaureate engineering education over a period of five years.</p>
        <div id="image2" class="u-border-6 u-border-palette-1-light-2 u-image u-image-circle u-image-2" data-image-width="211" data-image-height="211"></div>
        <h5 class="u-text u-text-3">INSAT</h5>
        <h5 class="u-custom-font u-text u-text-font u-text-4">Tunis, Tunisia - 2019/2024</h5>
    </div>
    </div>
    <div class="u-container-style u-list-item u-radius-25 u-repeater-item u-shape-round u-white u-list-item-3">
    <div class="u-container-layout u-similar-container u-container-layout-3">
      <h5>Exchange Year:</h5>
      <h4>YES Program</h4>
      <p class="u-text u-text-8">Through the U.S. Department of State’s Kennedy-Lugar Youth Exchange and Study (YES) program, high school students from countries with significant Muslim populations live and study for an academic year in the United States.  YES students serve as “youth ambassadors” of their home country, promoting mutual understanding by forming lasting relationships with their host families and communities.Applicants compete for YES scholarships through a rigorous, merit-based selection process.  While on program, participants live with American host families, attend high school, and engage in community service and civic education activities.</p>
      <div alt="" class="u-border-6 u-border-palette-1-light-2 u-image u-image-circle u-image-3" data-image-width="211" data-image-height="211"></div>
      <h5 class="u-text u-text-9">KL-YES Program</h5>
      <h5 class="u-custom-font u-text u-text-font u-text-10">Iowa, United States - 2016/2017</h5>
    </div>
    </div>
    <div class="u-container-style u-list-item u-radius-25 u-repeater-item u-shape-round u-white u-list-item-4">
    <div class="u-container-layout u-similar-container u-container-layout-4">
      <h5>Summer Internship:</h5>
      <h4>Lyance</h4>
      <p class="u-text u-text-11">Lyance is a customer oriented Technology Company that works in partnership with our customers to design and supply advanced technologies that optimize their operational performance and profitability. We operate in Europe, Middle East and Africa.<br> Used Technologies: SpringBoot and Angular</p>
      <div alt="" class="u-border-6 u-border-palette-1-light-2 u-image u-image-circle u-image-4" data-image-width="211" data-image-height="211"></div>
      <h5 class="u-text u-text-12">Lyance</h5>
      <h5 class="u-custom-font u-text u-text-font u-text-13">Lac 2 Tunis, Tunisia - August 2021</h5>
    </div>
    </div>
    </div>
    <br><br>
    <a id="button" pageScroll href="#about-me" class="u-active-white u-btn u-button-style u-custom-font u-font-roboto-condensed u-hover-white u-palette-2-base u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-3">Scroll Back Up</a>
    </div>
    <br><br><br>
    </div>
    </section>
