<section class="u-align-center u-clearfix u-white u-section-5" id="carousel_291f">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-text u-text-palette-1-base u-text-1">Tools & Skills</h1>
    <p class="u-text u-text-2">The university gives the best environnement to start my career mainly in associative life that changed my personality and showed me a small simulation of the professional life thanks to my integration into the associative university life (clubs) and professional (internship and freelance) also, I obtained several hard skills and soft skills which could help me for my personal development. </p>
    <br><br><br><br>
    <div class="skills">
        <ul class="lines">
          <li class="line l--0">
          </li>
          <li class="line l--25">
            <span class="line__label">
              The basics
            </span>
          </li>
          <li class="line l--50">
            <span class="line__label">
              Advanced
            </span>
          </li>
          <li class="line l--75">
            <span class="line__label">
              Seasoned
            </span>
          </li>
          <li class="line l--100">
            <span class="line__label">
              Expert
            </span>
          </li>
        </ul>
        
        <div class="charts">
          <div class="chart chart--dev">
            <span class="chart__title">Development</span>
            <ul class="chart--horiz">
              <li class="chart__bar" style="width: 81%;">
                <span class="chart__label">
                  HTML5
                </span>
              </li>
              <li class="chart__bar" style="width: 71%;">
                <span class="chart__label">
                  CSS3 & SCSS & CSS in JS
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  JavaScript
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  TypeScript
                </span>
              </li>
              <li class="chart__bar" style="width: 88%;">
                <span class="chart__label">
                  Angular
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  SQL
                </span>
              </li>
              <li class="chart__bar" style="width: 80%;">
                <span class="chart__label">
                  Java
                </span>
              </li>
              <li class="chart__bar" style="width: 60%;">
                <span class="chart__label">
                  Spring Boot 
                </span>
              </li>
              <li class="chart__bar" style="width: 60%;">
                <span class="chart__label">
                  PHP & Symfony framework
                </span>
              </li>
              <li class="chart__bar" style="width: 50%;">
                <span class="chart__label">
                  Docker
                </span>
              </li>
            </ul>
          </div>
          
          <div class="chart chart--prod">
            <span class="chart__title">Productivity</span>
            <ul class="chart--horiz">
            <li class="chart__bar" style="width: 75%;">
              <span class="chart__label">
                Git + Github
              </span>
            </li>
            <li class="chart__bar" style="width: 80%;">
              <span class="chart__label">
                Linux
              </span>
            </li>
          </ul>
          </div>
          
          <div class="chart chart--design">
            <span class="chart__title">Design</span>
            <ul class="chart--horiz">
            <li class="chart__bar" style="width: 40%;">
              <span class="chart__label">
                Sketch
              </span>
            </li>
            <li class="chart__bar" style="width: 40%;">
              <span class="chart__label">
                Sigma
              </span>
            </li>
          </ul>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
    <a pageScroll href="#about-me" class="u-active-white u-btn u-button-style u-custom-font u-font-roboto-condensed u-hover-white u-palette-2-base u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-1">Scroll Back Up</a>
    </div>
    </section>
